<h1>Your Cart</h1>
<% @cart.orderables.each do |orderable| %>
  <% book = orderable.book %>
  <p><%= book.title %> * <%= orderable.quantity %> = $<%= book.price * orderable.quantity %></p>
<% end %>
<p>Your total is $<%= @cart.total %> </p>