<h1 class="current-category"><%= params[:category]%></h1>
<% if @books.count ==0 %>
    <h1>There are no books currently in this category</h1>
<%else%>
<% @books.each do |book| %>
<a href="/books/<%= book.id%>">
<%= image_tag(book.book_img, style: "width:300px; height:400px; margin: 20px; border-radius: 30px;")%>
</a>
<%end%>
<%end%>

